@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background;
    padding-top: 4rem;
  }
}

@keyframes pulse {
  0% {
    border-color: #10b981;
  }
}

.pulse-green {
  animation: pulse 0.5s ease-in-out;
}
